.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
package/
package.zip

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform/tmp/

# macOS
.DS_Store
